html, body{
    height: 100%;
}

.header{
    font: italic small-caps bold 75px Georgia, serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg,#FFFF00 6%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, 
                rgba(255, 255, 255, 0.7), 
                rgba(255, 255, 255, 0.3)
                );
    border-radius: 1.5rem;
    gap: 20px;
}

.player, .computer{
    font: bold 25px Georgia, serif;
    color: white;
    padding: 15px 20px;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.whoami{
    align-self: center;
}

button{
    all: unset;
}

.player{
    border: 1px solid #FFFF00;
}

.computer{
    border: 1px solid #9A109A;
}

.btn-container{
    display: flex;
    align-self: center;
    gap: 10px;
    margin-top: 75px;
}

.emoji{
    font-size: 75px;
}

.player button:hover{
    background: #FFFF00;
    cursor: pointer;
}